.LeftContainer, .MidContainer{
	display: inline-block;
	height: 400px;
	width: 270px;
	margin-left: 26px;
	margin-top: 10px;
}
.infoContainer div {
	display: block;
	text-align: center;
}

#last{
	font-size: 20px;
	color: white;
}

.accueilbtn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	padding: 8px;
	background-color: green;
	color: white;
	border-style: none;

}

.RightContainer button{
	display: block;
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 165px;
}

.CurrentSold{
	display: block;
	font-size: 60px;
	color: white;
}

.RightContainer button a{
	color: white;
	text-decoration: none;
}

.RightContainer {
	float: right;
	margin-top: 95px;
	width: 240px;
}

.Libelle{
	display: inline-block;
	margin-left: 15px;
}

.historyContainer {
	display: inline-block;
	margin-left: 6px;
}

.money{
	display: block;

}

.item {
	display: inline-block;
}

#pos {
	color: green;
	font-size: 30px;
	margin-right: 10px;
}

#neg {
	color: red;
	font-size: 30px;
	margin-right: 10px;
}

.howmuch{
	color: white;
	margin-left: 55px;
}

#AmountSym {
	display: inline-block;
	margin-left: 12px;
	color: white;
	font-size: 45px;
}

.Amount{
	color: white;
	margin-left: 60px;
	text-align: center;
	font-size: 46px;
}

body div p {
	display: inline-block;
}

.toplogo {
	display: block;
	width: 4%;
	margin-left: auto;
	margin-right: auto;
}

.MainTitle {
	display: block;
	font-family: 'Sansita', sans-serif;
	text-align: center;
	font-size: 125px;
}



form input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 7px;
	opacity: 0.6;
	border-radius: 6px;
}

.infoContainer {
	display: block;
	width: 900px;
	height: 450px;
	background-color: rgba(140, 140, 140, 0.6);
	margin-left: auto;
	margin-right: auto;
}

.signin {
	text-align: center;
	font-size: 25px;
}

p{
	color: white;
}

a {
	color: yellow;
}

.loginButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
}

.Texting {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loginButton {
	display: block;
}

.loginform {
	padding-top: 120px;
}

.first {
	display: block;
}

html {
	background-image: url("../include/wallpaper.jpg");
}